#parallelogram {
	width: 30px;
	height: 30px;
	-webkit-transform: skew(120deg);
	   -moz-transform: skew(120deg);
	     -o-transform: skew(120deg);
	background: transparent;
	border: 2px solid white;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.smallPicsContainer.open-add,
.smallPicsContainer.open-remove {

    transition: all 1s;
}

.smallPicsContainer.open-add-active {
    top: 0;
    left: 0;
}

.arrow {
/*  -webkit-filter: brightness(50%);
  -o-filter: brightness(50%);
  filter: brightness(50%);*/
  animation: paddingTop 1s infinite;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes paddingTop {
  to { padding-top: 1vh; }
}

.arr {
  animation: movingDown 1s infinite;
  animation-timing-function: ease-in-out;
}

.arr:nth-child(1) {
  animation-delay: 0.2s;
}


.arr:nth-child(2) {
  animation-delay: 0.2s;
}


.arr:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes movingDown {
  to { margin-bottom: -0.1vh; }
}
