#parallelogram {
	width: 30px;
	height: 30px;
	-webkit-transform: skew(120deg);
	   -moz-transform: skew(120deg);
	     -o-transform: skew(120deg);
	background: transparent;
	border: 2px solid white;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    margin-left: 100vw;
    width: 0;
    height: 0;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left:0;
    width: 44vw;
    height: 91vh;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    margin-left: 100vw;
    width: 0;
    height: 0;
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left:0;
    width: 44vw;
    height: 91vh;
  }
}
.rotating {
  -webkit-animation: rotating 3s linear 1;
  -moz-animation: rotating 3s linear 1;
  -ms-animation: rotating 3s linear 1;
  -o-animation: rotating 3s linear 1;
  animation: rotating 3s linear 1;
}

.smallPicsContainer.open-add,
.smallPicsContainer.open-remove {

    transition: all 1s;
}

.smallPicsContainer.open-add-active {
    top: 0;
    left: 0;
}

.arrow {
/*  -webkit-filter: brightness(50%);
  -o-filter: brightness(50%);
  filter: brightness(50%);*/
  animation: paddingTop 1s infinite;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes paddingTop {
  to { padding-top: 1vh; }
}

.arr {
  animation: movingDown 1s infinite;
  animation-timing-function: ease-in-out;
}

.arr:nth-child(1) {
  animation-delay: 0.2s;
}


.arr:nth-child(2) {
  animation-delay: 0.2s;
}


.arr:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes movingDown {
  to { margin-bottom: -0.1vh; }
}

@keyframes flash{
  50% {
    background-color: white;
  }

  70% {
    background-color: black;
  }
}

.flashingAnimation {
  -webkit-animation: flash 1s linear 1;
  -o-animation: flash 1s linear 1;
  animation: flash 1s linear 1;
}

@keyframes textShow {
  1% {
    opacity: 1;
    -webkit-transform:  scale(10);
    -ms-transform:  scale(10);
    -o-transform:  scale(10);
    transform:  scale(10);
  }
  10% {
    -webkit-transform:  scale(1);
    -ms-transform:  scale(1);
    -o-transform:  scale(1);
    transform:  scale(1);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.textAnimation {
  -webkit-animation: textShow 5s linear 1;
  -o-animation: textShow 5s linear 1;
  animation: textShow 5s linear 1;
}



@-webkit-keyframes photo /* Safari and Chrome */ {
  from {
    margin-right: -9vw;
  }

  10%{margin-right:0;}

  50% {
    
    /*width: 10vw;*/
  }
   90%{
    margin-right:0;
   }

  to {
    margin-right: -9vw;
  }
}
  @keyframes photo {
   from {
    margin-right: -9vw;
  }

  10%{margin-right:0;}
  48%{ /*width: 9.406vw; */
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    /*width: 10vw;*/
  }
  55%{ /*width: 9.406vw;*/ 
    opacity: 1;
  }
   90%{
    margin-right:0;
   }

  to {
    /*width: 0;*/
    margin-right: -9vw;
  }
}

  .photoAnimation {
  -webkit-animation: photo 1.8s  linear 1;
  -moz-animation: photo 1.8s  linear 1;
  -ms-animation: photo 1.8s linear 1;
  -o-animation: photo 1.8s  linear 1;
  animation: photo 1.8s linear 1;
}


@keyframes apart3 {
  from {background-image: url('../images/homePage/ap3negative.jpg');}
  to {background-image: url('../images/homePage/ap3.jpg');}
}

@keyframes apart2 {
  from {background-image: url('../images/homePage/ap2negative.jpg');}
  to {background-image: url('../images/homePage/ap2.jpg');}
}

@keyframes apart1 {
  from {background-image: url('../images/homePage/ap1negative.jpg');}
  to {background-image: url('../images/homePage/ap1.jpg');}
}

@keyframes vase1 {
  from {background-image: url("../images/homePage/vaseNebgative.jpg");}
  to {background-image: url("../images/homePage/vase.jpg");}
}

@keyframes vase2 {
  from {background-image: url("../images/homePage/doorAndFlowersNegative.jpg");}
  to {background-image: url("../images/homePage/doorAndFlowers.jpg");}
}

.vaseAnimation1 {
  -webkit-animation: vase1 4s linear 1;
  -o-animation: vase1 4s linear 1;
  animation: vase1 4s linear 1;
}

.vaseAnimation2 {
  -webkit-animation: vase2 4s linear 1;
  -o-animation: vase2 4s linear 1;
  animation: vase2 4s linear 1;
}

.apartAnimation1 {
  -webkit-animation: apart1 4s linear 1;
  -o-animation: apart1 4s linear 1;
  animation: apart1 4s linear 1;
}

.apartAnimation2 {
  -webkit-animation: apart2 4s linear 1;
  -o-animation: apart2 4s linear 1;
  animation: apart2 4s linear 1;
}

.apartAnimation3 {
  -webkit-animation: apart3 4s linear 1;
  -o-animation: apart3 4s linear 1;
  animation: apart3 4s linear 1;
}




@keyframes textAnim {
  from {color: black;}
  to {color: white}
}

.textAnimation {
  -webkit-animation: textAnim 4s linear 1;
  -o-animation: textAnim 4s linear 1;
  animation: textAnim 4s linear 1;
}